/* Mobile Screen */

@media (max-width: 512px) {
  .container {
    width: 100%;
  }
  #home h1 {
    font-size: 1.5rem;
    white-space: wrap;
  }
  #about .parallax img {
    height: 300px !important;
  }
  #about .details {
    height: 100%;
  }
  #about .details .typing p {
    font-size: 1.1rem !important;
  }
}