/* Font Family */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
* {
  padding: 0px;
  margin: 0px;
}

body {
  padding-top: 56px;
  /* font-family: Arial, Helvetica, sans-serif;	 */
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

.container {
  width: 80%;
  margin: 0px auto;
}

footer {
  min-height: 400px;
}

section.section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  word-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  height: 300px;
  width: 100%;
  background: linear-gradient(red, yellow);
  color: #fff;
}

section.hidden-block {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  color: black;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}

.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

#home {
  --wrapper: #333;
  --bg-color: rgba(43, 43, 43, 0.8);
  --button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  margin: 0%;
  padding: 0%;
  height: calc(100vh - 50px);
  background: #fff !important;
  /* overflow: hidden; */
}

#home h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  text-transform: capitalize;
  white-space: nowrap;
}

#home .button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

#home .button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.home-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--wrapper);
}

#home .split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#home .split.home-left {
  left: 0;
  background: url("../img/personal-home.jpeg") center center no-repeat;
  background-size: cover;
}

#home .split.home-left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}

#home .split.home-right {
  right: 0;
  background: url("../img/programming-home.png") center center no-repeat;
  background-size: cover;
}

#home .split.home-right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}

#home .split.home-left,
#home .split.home-right,
#home .split.home-left:before,
#home .split.home-right:before {
  transition: var(--speed) all ease-in-out;
}

#home .hover-left .home-left {
  width: var(--hover-width);
}

#home .hover-left .home-right {
  width: var(--other-width);
}

#home .hover-left .home-right:before {
  z-index: 2;
}

#home .hover-right .home-right {
  width: var(--hover-width);
}

#home .hover-right .home-left {
  width: var(--other-width);
}

#home .hover-right .home-left:before {
  z-index: 2;
}

/* About me */

#about header {
  background-color: #122d3a;
  color: #fdfdfd;
}

#about header.sticky {
  position: sticky;
  top: 56px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* #about header.sticky~#about-content {
  padding-top: 10px;
} */

#about .progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

#about .progress-bar {
  height: 8px;
  background: #02b3e4;
  width: 0%;
}

#about .title {
  font-size: 3em;
  font-weight: bold;
  padding: 0.5rem 0px;
}

#about .row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}

#about .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#about .parallax img {
  grid-area: image;
  width: 100%;
  height: 100%;
}

#about .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 500px;
}

#about .details .typing p {
  text-align: justify;
  font-size: 1.2rem;
  margin: 1.5rem 1rem;
}

/* Social Media */

#about #social-media {
  margin: 1.5rem;
}

#about .accordion {
  background: #1c262f;
  width: 100%;
  min-width: 750px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

#about .tab {
  display: inline-block;
  background-color: #122d3a;
  border-right: #1c262f 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

#about .tab:hover {
  width: 450px;
}

#about .tab:hover .social a:before {
  margin-left: -100px;
}

#about .tab:hover .social a:after {
  margin-left: -5px;
}

#about .tab .content {
  position: relative;
  background: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

#about .tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

#about .tab .content p {
  color: #122d3a;
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 2.5rem;
}

#about .social a:after,
#about .social a:before {
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px fontAwesome;
  color: #fff;
}

#about .social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

#about .whatsapp a:before,
#about .whatsapp a:after {
  content: '\f232';
}

#about .whatsapp a:after {
  background-color: #25D366;
}

#about .twitter a:before,
#about .twitter a:after {
  content: '\f099';
}

#about .twitter a:after {
  background-color: #55acee;
}

#about .facebook a:before,
#about .facebook a:after {
  content: '\f082';
}

#about .facebook a:after {
  background-color: #3b5999;
}

#about .linkedin a:before,
#about .linkedin a:after {
  content: '\f0e1';
}

#about .linkedin a:after {
  background-color: #0077B5;
}

#about .instagram a:before,
#about .instagram a:after {
  content: '\f16d';
}

#about .instagram a:after {
  background-color: #e4405f;
}

#about .github a:before,
#about .github a:after {
  content: '\f09b';
}

#about .github a:after {
  background-color: #6e5494;
}

/* Education */

#about .education-card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  margin: 0.75rem auto;
}

#about .education-card {
  position: relative;
  min-height: 500px;
  background-color: #fdfdfd;
  box-sizing: border-box;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

#about .education-card:hover {
  box-shadow: 5px 5px 25px 25px rgba(178, 185, 190, 0.2), 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

#about .education-card .education-card-image {
  height: 200px;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#about .education-card .education-card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: 100%;
}

#about .education-card .education-card-content h1 {
  margin: 1rem auto;
  text-align: center;
  text-transform: capitalize;
  color: #333;
}

#about .education-card .education-card-content p {
  margin: 2rem 1rem;
  text-align: justify;
  color: #444;
}

#about .education-card .education-card-content a {
  position: absolute;
  bottom: 5%;
  left: 0;
  margin: auto 1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #0077B5;
  outline: none;
  text-align: center;
  text-decoration: none;
  border: 1px solid #0077B5;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 2px rgba(178, 185, 190, 0.7);
  transition: all 0.5s ease-in-out;
}

#about .education-card .education-card-content a:hover {
  background-color: #0077B5;
  color: #fdfdfd;
  box-shadow: 2px 2px 2px 2px rgba(178, 185, 190, 0.7);
}

#about section#resume {
  background-color: #0077B5;
  margin: 2rem auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  transition: all 0.5s ease-in-out;
}

#about section#resume:hover {
  box-shadow: 5px 5px 25px 25px rgba(178, 185, 190, 0.2), 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

#about section#resume a {
  padding: 2rem 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  color: #fdfdfd;
}

/* Internship section */

.timeline {
  position: relative;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 50%;
  width: 2px;
  height: 85%;
  background-color: #c5c5c5;
}

.timeline::after {
  content: '';
  display: block;
  clear: both;
}

.timeline h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: #0077B5;
  margin-bottom: 20px;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #0077B5;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #0077B5;
}

.timeline ul li:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #0077B5;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #0077B5;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  color: #0077B5;
}

.timeline ul li p {
  color: #434343;
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -300px;
  margin: 0;
  padding: 8px 16px;
  background-color: #0077B5;
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #0077B5;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -300px;
  margin: 0;
  padding: 8px 16px;
  background-color: #0077B5;
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #0077B5;
}
