/* Tablet Screen */

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  /* Home Section */
  #home .split.home-left {
    background-position-x: 25%;
  }
  #home h1 {
    font-size: 3rem;
    white-space: normal;
    text-align: center;
  }
  #home .button {
    width: 9rem;
  }
  /* About Section */
  #about .title {
    font-size: 2rem;
  }
  #about .row {
    display: block !important;
  }
  #about .parallax {
    padding-top: 2rem;
  }
  #about .parallax img {
    height: 450px !important;
  }
  #about .details {
    height: 420px;
  }
  #about .tab {
    display: block;
    width: 100%;
    height: 150px;
    border-bottom: 3px #333 solid;
  }
  #about .accordion {
    display: block;
    min-width: 100%;
    height: auto;
  }
  #about .tab .content {
    width: 85%;
    height: 150px;
    padding-left: 0.5rem;
  }
  #about .tab:hover {
    width: 100%;
  }
  #about .social a:after,
  #about .social a:before {
    height: 100px;
    padding-top: 65px;
    padding-left: 25px;
  }
  #about .social a:after {
    padding-top: 55px;
  }
  #about .education-card-group {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
  #about .education-card {
    min-height: 500px;
  }
  /* Internship Section */
  .timeline {
    width: 100%;
    margin: 20px auto;
    padding-bottom: 0;
  }
  .timeline::before {
    left: 20px;
    height: 90%;
  }
  .timeline h1 {
    margin-bottom: 50px;
  }
  .timeline li:nth-child(odd),
  .timeline li:nth-child(even) {
    width: 100%;
    text-align: justify !important;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline li:nth-child(odd)::before,
  .timeline li:nth-child(even)::before {
    top: -18px !important;
    left: 16px !important;
  }
  .timeline li:nth-child(odd) .time,
  .timeline li:nth-child(even) .time {
    top: -30px !important;
    left: 50px !important;
    right: inherit !important;
  }
}